/* body {
 background-color: rgb(190, 222, 211); 
}  */

.navbar {
  background-color: rgb(181, 132, 227);
  color: white;
}

.navbar-nav a {
  color: white;
}

.navbar-nav a:hover {
  text-decoration: underline;
}
